# Set Environment: "development" for local, "production" for live server
NODE_ENV=development / or production

# ===== Development Database (Local) =====
DEV_DB_HOSTNAME=localhost
DEV_DB_PORT=5432
DEV_DB_NAME=your_local_db_name
DEV_DB_USERNAME=your_local_db_user
DEV_DB_PASSWORD=your_local_db_password
DEV_DB_DIALECT=postgres

# ===== Production Database (Render, Heroku, AWS, etc.) =====
PROD_DB_HOSTNAME=your_production_db_host
PROD_DB_PORT=5432
PROD_DB_NAME=your_production_db_name
PROD_DB_USERNAME=your_production_db_user
PROD_DB_PASSWORD=your_production_db_password
PROD_DB_DIALECT=postgres
PROD_DB_SSL=true

# JWT Secret
JWT_SECRET=your_jwt_secret

# Server Port
SERVER_PORT=3000

# Email Configuration
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password

# AWS S3 Configuration
AWS_ACCESS_KEY_ID=your_aws_access_key_id
AWS_SECRET_ACCESS_KEY=your_aws_secret_access_key
AWS_REGION=your_aws_region
AWS_BUCKET_NAME=your_aws_bucket_name

